/* ----------- Global CSS ---------------- */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #F2F2E6;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}
.color-txt-wh {
  color: #4C4D49;
}
.color-bg-wh {
  background-color: color: #4C4D49;
}

img {
  height: 100%;
  width: 100%;
  visibility: hidden;
}

/* ---------------- Custom CSS ----------------*/

h1 {
  text-align: center;
}

h2 {
  margin-left: 10vw;
}

hr {
  height: 5px;
  width: 80%;
  background-color: #000;
  border: none;
  border-radius: 3px;
}

/* ------------------ Mode Nuit --------------------- */

#nuit {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 10vw;
  margin-bottom: 2rem;
}
#nuit p {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 20px;
}
#switch-night {
  cursor: pointer;
  height: 52px;
  width: 52px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
}
#img-switch {
  height: 100%;
  width: 100%;
  visibility: visible;
}
.dark-bg {
  background-color: #484A4A;
  color: #F2F2E6;
}



/* ------------------ Cycle journée --------------------- */

#menu-jour {
  display: flex;
  justify-content: center;
}
.bouton-jour {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: 2rem;
  width: 4rem;
  margin: 0 10px;
  color: #fff;
  background-color: #777;
  border: none;
  border-radius: 5px;
}
.bouton-jour:hover, .bouton-active {
  color: #333;
  background-color: #fff;
  height: 2.5rem;
  width: 4.5rem;
  margin-top: -0.5rem;
  transition: 0.3s;
}
.div-active {
  display: block;
  margin: 0 auto;
}
.picture-box {
  max-height: 200px;
  max-width: 600px;
  margin: 20px auto;
  visibility: hidden;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.none {
  display: none;
}
.block {
  display: block;
}

/* ------------------ Pop Up Form --------------------- */

#open-form {
  display: block;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: 2rem;
  width: 4rem;
  margin: 0 auto;
  color: #fff;
  background-color: #FA4D1F;
  border: none;
  border-radius: 5px;
}
#open-form:hover {
  color: #fff;
  background-color: #23B6FA;
  height: 2.5rem;
  width: 4.5rem;
  margin-top: -0.5rem;
  transition: 0.3s;
}
.answer {
  color: #23B6FA;
  font-family: sans-serif;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 5px;
}
#formulaire-pop {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}
#border-form {
  border: 2px solid #777;
  margin: 10px 0;
  padding: 10px;
  display: inline-block;
}
.input-form{
  margin: 10px;
}
#form-cust {
  width: fit-content;
  background-color: #fff;
  padding: 10px;
  margin: 5% auto 0 auto;
}
#rep-form {
  text-align: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  margin: 0 40%;
}

/* ------------------ Plus ou moins --------------------- */

#boxCalc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#boxCalc button {
  height: 70px;
  width: 50px;
  font-size: 2rem;
  margin: 0 20px;
}
.valeurButt {
  font-size: 3rem;
  font-weight: 500;
  margin: 10px 20px 0 20px;
}
